{% extends template_to_extend %}
{% load pygmentify staticfiles bootstrap %}

{% block title %}Poster une commentaire{% endblock %}
{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/pygments_default.css' %}" />
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
		<h1>{{ question.title }}</h1>
		<h2 class="generic_centered">Poster un commentaire sur la réponse</h2>
		<form action="" method="post">{% csrf_token %}
			{{ form|bootstrap }}
		    <p><input class="btn btn-success btn-block" type="submit" value="Envoyer" /></p>
		</form>
		<p class="gus-l gds-l text-center"><a href="{% url 'question-detail' question.slug %}" class="btn btn-default">Retour à la question</a></p>
		<h3>Réponse</h3>
		<p class="us-l">{% pygment %}{{ answer.text|safe|linebreaksbr }}{% endpygment %}</p>
	</div>
</div>
{% endblock %}