{% load pygmentify %}

{% for question in questions %}
	<div class="question_content question_content_light">
		{% with question.question_answer.all|length as num_answers %}
		<h3 class="generic_inline"><a href="/questions/{{ question.slug }}/">{{ question.title }}</a></h3>
		- <span class="generic_bold">{{ num_answers }} Réponse{% if num_answers != 1 %}s{% endif %}</span>
		{% endwith %}
		<p>
			{{ question.text|safe|linebreaksbr|truncatewords_html:35|remove_pre }}
		</p>
		<div class="object_meta">par {{ question.posted_by.username }} il y a {{ question.creation_date|timesince }}</div>
		{% with question.tags.all as tags %}
			{% if tags %}
				<p>{% for tag in tags %}
					<a href="/questions/tag/{{ tag.slug }}/"><button class="tag_button_small">{{tag}}</button></a> 
				{% endfor %}</p>
			{% endif %}
		{% endwith %}
	</div>
{% endfor %}
{% if questions.count == 12 %}<p class="generic_centered">
		<a href="/questions/?page=2"><button class="big_button2">Plus de questions</button></a>
	</p>{% endif %}