{% if is_paginated %}
    <div class="pagination generic_centered">
        <span class="page-links">
            {% if page_obj.has_previous %}
                [&nbsp;<a href="/questions?page={{ page_obj.previous_page_number }}">Précédente</a>&nbsp;]
            {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                [&nbsp;<a href="/questions?page={{ page_obj.next_page_number }}">Suivante</a>&nbsp;]
            {% endif %}
        </span>
    </div>
{% endif %}