{% extends template_to_extend %}
{% load pygmentify staticfiles bootstrap %}

{% block extra_header %}
<link rel="stylesheet" type="text/css" href="{% static 'django_pygments/css/pygments_default.css' %}" />
<link rel="stylesheet" href="{% static 'koica/css/koica.css' %}">
{% endblock %}

{% block title %}Signaler une question dupliquée{% endblock %}

{% block content %}
<div class="row">
	<div class="col-xs-12 col-md-offset-1 col-md-10 col-md-offset-1 col-lg-offset-2 col-lg-8 col-lg-offset-2">
		<h1 class="generic_centered">Signaler une question en double</h1>
		<h3 class="generic_centered">{{ question.title }}</h3>
		<form action="" method="post">{% csrf_token %}
		    {{ form|bootstrap }}
		    <p><input class="btn btn-success btn-block" type="submit" value="Envoyer" /></p>
		</form>
		<p class="us-l ds-l text-center"><a href="{% url 'question-detail' question.slug %}" class="btn btn-default">Retour à la question</a></p>
	</div>
</div>
{% endblock %}